torch
transformers>=4.28.0
accelerate
xformers
protobuf==3.19.5
sentencepiece

#for evaluation
scikit-learn
omegaconf
sqlitedict
sacrebleu
datasets
scipy

#for inference
gradio

#for finetuning
datasets
peft
bitsandbytes
scipy
wandb

#for quantization
auto-gptq[triton]
